@layer components {
  .singlestage-textarea {
    @apply aria-invalid:border-destructive
    aria-invalid:ring-destructive/20
    bg-transparent
    border
    border-input
    disabled:cursor-not-allowed
    disabled:opacity-50
    field-sizing-content
    flex
    focus-visible:border-ring
    focus-visible:ring-[3px]
    focus-visible:ring-ring/50
    md:text-sm
    min-h-16
    outline-none
    placeholder:text-muted-foreground
    px-3
    py-2
    rounded-md
    shadow-xs
    text-base
    transition-[color,box-shadow]
    w-full;
  }
}
