@layer base {
  .singlestage-btn {
    @apply font-medium
    gap-2
    font-medium
    rounded-md
    text-sm;

    &:focus-visible {
      @apply ring-3;
    }

    &:invalid {
      @apply ring-3;
    }

    svg:not([class*="size-"]) {
      @apply size-4;
    }
  }

  .singlestage-btn-size-xs {
    @apply gap-1
    h-6
    px-2
    rounded-[min(var(--radius-md),8px)]
    text-xs;

    svg:not([class*="size-"]) {
      @apply size-3;
    }

    &:has(svg:first-child) {
      @apply pl-1.5;
    }

    &:has(svg:last-child) {
      @apply pr-1.5;
    }
  }

  .singlestage-btn-size-sm {
    @apply gap-1
    h-8
    px-2.5
    rounded-[min(var(--radius-md),10px)];

    &:has(svg:first-child) {
      @apply pl-1.5;
    }

    &:has(svg:last-child) {
      @apply pr-1.5;
    }
  }

  .singlestage-btn-size-default {
    @apply gap-1.5
    h-9
    px-2.5;

    &:has(svg:first-child) {
      @apply pl-2;
    }

    &:has(svg:last-child) {
      @apply pr-2;
    }
  }

  .singlestage-btn-size-lg {
    @apply gap-1.5
    h-10
    px-2.5;

    &:has(svg:first-child) {
      @apply pl-3;
    }

    &:has(svg:last-child) {
      @apply pr-3;
    }
  }

  .singlestage-btn-size-icon-xs {
    @apply rounded-[min(var(--radius-md),8px)]
    size-6;

    svg:not([class*="size-"]) {
      @apply size-3;
    }
  }

  .singlestage-btn-size-icon-sm {
    @apply rounded-[min(var(--radius-md),10px)]
    size-8;
  }

  .singlestage-btn-size-icon {
    @apply size-9;
  }

  .singlestage-btn-size-icon-lg {
    @apply size-10;
  }

  .singlestage-input-group-button {
    @apply gap-2
    text-sm;
  }

  .singlestage-input-group-button-size-xs {
    @apply gap-1
    h-6
    px-1.5
    rounded-[calc(var(--radius)-5px)];

    svg:not([class*="size-"]) {
      @apply size-3.5;
    }
  }

  .singlestage-input-group-button-size-icon-xs {
    @apply p-0
    rounded-[calc(var(--radius)-5px)]
    size-6;
  }

  .singlestage-input-group-button-size-icon-sm {
    @apply p-0
    size-8;
  }
}
