@layer components {
  .singlestage-accordion {
    @apply flex
    flex-col
    w-full;
  }

  .singlestage-accordion-item {
    @apply not-last:border-b;

    &::details-content {
      block-size: 0;
      @apply block
      opacity-0
      transition-all
      transition-discrete;
    }

    &[open]::details-content {
      block-size: auto;
      block-size: calc-size(auto, size);
      @apply opacity-100;
    }

    &[open] {
      svg {
        @apply rotate-180;
      }
    }
  }

  .singlestage-accordion-trigger {
    @apply border
    border-transparent
    disabled:opacity-50
    disabled:pointer-events-none
    focus-visible:after:border-ring
    focus-visible:border-ring
    focus-visible:ring-[3px]
    focus-visible:ring-ring/50
    font-medium
    hover:underline
    items-start
    list-none
    outline-none
    py-2.5
    relative
    rounded-lg
    text-left
    text-sm
    transition-all
    transition-discrete;

    /* Safari */
    &::-webkit-details-marker {
      @apply hidden;
    }

    > h3 {
      @apply flex
      flex-1
      justify-between
      pointer-events-none;

      > svg {
        @apply duration-200
        ml-auto
        size-4
        text-muted-foreground
        transition-transform;
      }
    }
  }

  .singlestage-accordion-content {
    @apply duration-200
    transition-all
    overflow-hidden
    text-sm;
  }

  .singlestage-accordion-content-inner {
    @apply data-ending-style:h-0
    data-starting-style:h-0
    h-(--accordion-panel-height)
    pb-2.5
    pt-0;

    &a {
      @apply hover:text-foreground
      underline
      underline-offset-3;
    }

    &p:not(:last-child) {
      @apply mb-4;
    }
  }
}
