@layer components {
  .singlestage-input-group {
    @apply /* group/input-group */
    border-input
    dark:bg-input/30
    relative
    flex
    w-full
    items-center
    rounded-md
    border
    shadow-xs
    transition-[color,box-shadow]
    outline-none
    h-9
    min-w-0
    has-[>textarea]:h-auto
    has-[>[data-align=inline-start]]:[&>input]:pl-2
    has-[>[data-align=inline-end]]:[&>input]:pr-2
    has-[>[data-align=block-start]]:h-auto
    has-[>[data-align=block-start]]:flex-col
    has-[>[data-align=block-start]]:[&>input]:pb-3
    has-[>[data-align=block-end]]:h-auto
    has-[>[data-align=block-end]]:flex-col
    has-[>[data-align=block-end]]:[&>input]:pt-3
    has-[[data-slot=input-group-control]:focus-visible]:border-ring
    has-[[data-slot=input-group-control]:focus-visible]:ring-ring/50
    has-[[data-slot=input-group-control]:focus-visible]:ring-[3px]
    has-[[data-slot][aria-invalid=true]]:ring-destructive/20
    has-[[data-slot][aria-invalid=true]]:border-destructive
    dark:has-[[data-slot][aria-invalid=true]]:ring-destructive/40;
  }

  .singlestage-input-group-addon {
    @apply text-muted-foreground
    flex
    h-auto
    cursor-text
    items-center
    justify-center
    gap-2
    py-1.5
    text-sm
    font-medium
    select-none
    [&>svg:not([class*='size-'])]:size-4
    [&>kbd]:rounded-[calc(var(--radius)-5px)]
    group-data-[disabled=true]/input-group:opacity-50;
  }

  .singlestage-input-group-addon-inline-start {
    @apply order-first
    pl-3
    has-[>button]:ml-[-0.45rem]
    has-[>kbd]:ml-[-0.35rem];
  }

  .singlestage-input-group-addon-inline-end {
    @apply order-last
    pr-3
    has-[>button]:mr-[-0.45rem]
    has-[>kbd]:mr-[-0.35rem];
  }

  .singlestage-input-group-addon-block-start {
    @apply order-first
    w-full
    justify-start
    px-3
    pt-3
    [.border-b]:pb-3
    group-has-[>input]/input-group:pt-2.5;
  }

  .singlestage-input-group-addon-block-end {
    @apply order-last
    w-full
    justify-start
    px-3
    pb-3
    [.border-t]:pt-3
    group-has-[>input]/input-group:pb-2.5;
  }

  .singlestage-input-group-text {
    @apply text-muted-foreground
    flex
    items-center
    gap-2
    text-sm
    [&_svg]:pointer-events-none
    [&_svg:not([class*='size-'])]:size-4;
  }

  .singlestage-input-group-input {
    @apply flex-1
    rounded-none
    border-0
    bg-transparent
    shadow-none
    focus-visible:ring-0
    dark:bg-transparent;
  }

  .singlestage-input-group-textarea {
    @apply flex-1
    resize-none
    rounded-none
    border-0
    bg-transparent
    py-3
    shadow-none
    focus-visible:ring-0
    dark:bg-transparent;
  }
}
