@layer components {
  .singlestage-alert {
    @apply after:-inset-y-px
    after:-left-px
    after:absolute
    after:w-0.5
    bg-background
    border
    gap-1
    grid
    px-4
    py-3
    relative
    text-left
    text-sm;

    &:has(> svg) {
      @apply gap-x-2.5
      grid-cols-[auto_1fr];

      .singlestage-alert-title {
        @apply col-start-2;
      }
    }

    &:has(.singlestage-alert-action) {
      @apply pr-18
      relative;
    }

    svg {
      @apply row-span-2
      text-current
      translate-y-0.5;

      &:not([class*="size-"]) {
        @apply size-4;
      }
    }
  }

  .singlestage-alert-variant-default {
    @apply after:bg-foreground
    bg-card
    text-card-foreground;
  }

  .singlestage-alert-variant-destructive {
    @apply after:bg-destructive
    bg-card
    text-destructive;

    .singlestage-alert-description {
      @apply text-destructive/90;
    }

    svg {
      @apply text-current;
    }
  }

  .singlestage-alert-title {
    @apply font-semibold
    text-sm;
  }

  .singlestage-alert-description {
    @apply md:text-pretty
    text-balance
    text-muted-foreground
    text-sm;

    p:not(:last-child) {
      @apply mb-4;
    }
  }

  .singlestage-alert-action {
    @apply absolute
    right-3
    top-2.5;
  }
}
