@layer components1 {
  .singlestage-field-set {
    @apply flex
    flex-col;
  }

  .singlestage-field {
    @apply flex
    w-full;
  }

  .singlestage-field-content {
    @apply flex
    flex-1
    flex-col
    leading-snug;
  }

  .singlestage-field-label {
    @apply flex
    w-fit;

    &:has(> .singlestage-field) {
      @apply flex-col
      w-full;
    }
  }

  .singlestage-field-title {
    @apply flex
    items-center
    w-fit;
  }

  .singlestage-field-description {
    @apply font-normal
    last:mt-0
    leading-normal
    nth-last-2:-mt-1;

    > a:not(.singlestage-button) {
      @apply underline
      underline-offset-4;

      &:hover {
        @apply text-primary;
      }
    }
  }

  .singlestage-field-error-list {
    @apply flex
    flex-col
    gap-1
    list-disc
    ml-4;
  }

  .singlestage-field-error {
    @apply font-normal;
  }

  .singlestage-field-orientation-vertical {
    @apply flex-col;

    > * {
      @apply w-full;
    }

    & > .sr-only {
      @apply w-auto;
    }
  }

  .singlestage-field-orientation-horizontal {
    @apply flex-row
    items-center;

    &:has(> .singlestage-field-content) {
      @apply items-start;

      & > .singlestage-checkbox,
      .singlestage-radio {
        @apply mt-px;
      }
    }

    .singlestage-field-label,
    .singlestage-field-title {
      @apply flex-auto;
    }
  }

  .singlestage-field-orientation-responsive {
    @apply flex-col
    md:flex-row
    w-full;

    * {
      @apply w-auto;
    }

    .singlestage-field-description {
      @apply md:text-balance;
    }
  }

  .singlestage-field-group {
    @apply flex
    flex-col
    w-full;

    &:has(> .singlestage-field-orientation-responsive) {
      @apply md:items-center;

      &:has(> .singlestage-field-content) {
        @apply md:items-start;

        &:has(.singlestage-checkbox),
        &:has(.singlestage-radio) {
          @apply md:mt-px;
        }
      }

      > .singlestage-field-label {
        @apply md:flex-auto;
      }
    }
  }

  .singlestage-field-separator {
    @apply relative
    w-full;
  }

  .singlestage-field-separator-inner {
    @apply absolute
    inset-0
    top-1/2;
  }

  .singlestage-field-separator-content {
    @apply bg-background
    block
    mx-auto
    relative
    w-fit;
  }
}
