@layer components {
  .singlestage-field-set {
    @apply flex
    flex-col;
  }

  .singlestage-field-group {
    @apply flex
    flex-col
    w-full;
  }

  .singlestage-field {
    @apply flex
    w-full;
  }

  .singlestage-field-vertical {
    @apply flex-col;
    * {
      @apply w-full;
    }
    > .sr-only {
      @apply w-auto;
    }
  }

  .singlestage-field-horizontal {
    @apply flex-row
    items-center;

    &:has(.singlestage-field-content) {
      @apply items-start;

      > .singlestage-checkbox,
      > .singlestage-radio {
        @apply mt-px;
      }
    }

    .singlestage-field-label {
      @apply flex-auto;
    }

    .singlestage-field-description {
      @apply text-balance;
    }
  }

  .singlestage-field-responsive {
    @apply flex-col;

    .singlestage-field-group {
      @apply md:flex-row
      md:items-center;

      * {
        @apply md:w-auto;
      }

      .singlestage-field-label {
        @apply md:flex-auto;
      }

      &:has(> .singlestage-field-content) {
        @apply md:items-start;

        > .singlestage-checkbox,
        > .singlestage-radio {
          @apply md:mt-px;
        }
      }
    }
  }

  .singlestage-field-responsive,
  .singlestage-field-vertical {
    * {
      @apply w-full;
    }

    > .sr-only {
      @apply w-auto;
    }
  }

  .singlestage-field-content {
    @apply flex
    flex-1
    flex-col
    leading-snug;
  }

  .singlestage-field-label {
    @apply flex
    leading-snug
    w-fit;

    &:has(.singlestage-field) {
      @apply flex-col
      w-full;
    }
  }

  .singlestage-field-title {
    @apply flex
    items-center
    leading-snug
    w-fit;
  }

  .singlestage-field-description {
    @apply font-normal
    last:mt-0
    leading-normal
    nth-last-2:-mt-1;

    > a {
      @apply underline
      underline-offset-4;

      &:hover {
        @apply text-primary;
      }
    }
  }

  .singlestage-field-separator {
    @apply relative;
  }

  .singlestage-field-separator-content {
    @apply bg-background
    block
    mx-auto
    relative
    w-fit;
  }
}
