@layer components {
  .singlestage-field {
    @apply aria-invalid:text-destructive
    /* group/field */
    flex
    w-full
    gap-3;

    .singlestage-field-vertical {
      @apply [&>*]:w-full
      [&>.sr-only]:w-auto
      flex-col;
    }

    .singlestage-field-horizontal {
      @apply [&>[data-slot=field-label]]:flex-auto
      has-[>[data-slot=field-content]]:[&>[role=checkbox],[role=radio]]:mt-px
      flex-row
      has-[>[data-slot=field-content]]:items-start
      items-center;
    }

    .singlestage-field-responsive {
      @apply flex-col
      [&>*]:w-full
      [&>.sr-only]:w-auto;

      .singlestage-field-group {
        @apply md:flex-row
        md:items-center
        md:[&>*]:w-auto
        md:[&>[data-slot=field-label]]:flex-auto
        md:has-[>[data-slot=field-content]]:items-start
        md:has-[>[data-slot=field-content]]:[&>[role=checkbox],[role=radio]]:mt-px;
      }
    }
  }

  .singlestage-field-set {
    @apply flex
    flex-col
    gap-6
    has-[>[data-slot=checkbox-group]]:gap-3
    has-[>[data-slot=radio-group]]:gap-3;
  }

  .singlestage-field-legend {
    @apply data-[variant=label]:text-sm
    data-[variant=legend]:text-base
    font-medium
    mb-3;
  }

  .singlestage-field-group {
    @apply /* group/field-group */
    /* @container/field-group */
    flex
    w-full
    flex-col
    gap-7
    data-[slot=checkbox-group]:gap-3
    [&>[data-slot=field-group]]:gap-4;
  }

  .singlestage-field-label {
    @apply /* group/field-label */
    /* peer/field-label */
    flex
    w-fit
    gap-2
    leading-snug
    group-data-[disabled=true]/field:opacity-50
    has-[>[data-slot=field]]:w-full
    has-[>[data-slot=field]]:flex-col
    has-[>[data-slot=field]]:rounded-md
    has-[>[data-slot=field]]:border
    [&>[data-slot=field]]:p-4
    has-data-[state=checked]:bg-primary/5
    has-data-[state=checked]:border-primary
    dark:has-data-[state=checked]:bg-primary/10;
  }

  .singlestage-field-title {
    @apply flex
    font-medium
    gap-2
    group-data-[disabled=true]/field:opacity-50
    items-center
    leading-snug
    text-sm
    w-fit;
  }

  .singlestage-field-description {
    @apply [&>a:hover]:text-primary
    [&>a]:underline
    [&>a]:underline-offset-4
    [[data-variant=legend]+&]:-mt-1.5
    font-normal
    group-has-[[data-orientation=horizontal]]/field:text-balance
    last:mt-0
    leading-normal
    nth-last-2:-mt-1
    text-muted-foreground
    text-sm;
  }

  .singlestage-field-separator {
    @apply -my-2
    group-data-[variant=outline]/field-group:-mb-2
    h-5
    relative
    text-sm;
  }

  .singlestage-field-content {
    @apply flex
    flex-1
    flex-col
    gap-1.5
    /* group/field-content */
    leading-snug;
  }
}
