@layer components {
  .singlestage-carousel {
    @apply relative;

    /* Content */
    > ul {
      ::-webkit-scrollbar {
        display: none;
      }

      scrollbar-width: none;
      -ms-overflow-style: none;

      @apply flex
      gap-4
      motion-safe:scroll-smooth
      overflow-x-scroll
      snap-mandatory
      snap-x;

      /* Item */
      > li {
        @apply basis-full
        content-center
        flex-[0_0_100%]
        grow-0
        min-w-0
        pl-4
        shrink-0
        snap-center;

        > * {
          @apply m-auto
          w-fit;
        }
      }
    }
  }
}
