@layer base {
  .singlestage-alert-dialog-overlay {
    @apply bg-popover
    ring-1
    ring-foreground/5
    rounded-4xl
    shadow-xl
    text-popover-foreground;

    &::backdrop {
      @apply supports-backdrop-filter:backdrop-blur-sm;
    }

    &[open]::backdrop {
      @apply bg-black/30;
    }
  }

  .singlestage-alert-dialog-content {
    @apply bg-popover
    gap-6
    p-6
    ring-1
    ring-foreground/5
    rounded-4xl
    shadow-xl
    text-popover-foreground;
  }

  .singlestage-alert-dialog-header {
    @apply gap-1.5
    grid
    grid-rows-[auto_1fr]
    place-items-center
    text-center;

    &:has(.singlestage-alert-dialog-media) {
      @apply gap-x-6
      grid-rows-[auto_auto_1fr];
    }
  }

  .singlestage-alert-dialog-media {
    @apply bg-muted
    inline-flex
    items-center
    justify-center
    mb-2
    rounded-full
    size-16;

    svg:not([class*="size-"]) {
      @apply size-8;
    }
  }

  .singlestage-alert-dialog-title {
    @apply text-lg
    font-medium;
  }

  .singlestage-alert-dialog-description {
    @apply md:text-pretty
    text-balance
    text-muted-foreground
    text-sm;

    a {
      @apply underline
      underline-offset-3;

      &:hover {
        @apply text-foreground;
      }
    }
  }

  .singlestage-alert-dialog-size-sm {
    @apply max-w-xs;
  }

  .singlestage-alert-dialog-size-default {
    @apply max-w-xs
    sm:max-w-md;

    /* .singlestage-alert-dialog-header { */
    /*   @apply sm:place-items-start */
    /*   sm:text-left; */
    /* } */
    /**/
    &:has(.singlestage-alert-dialog-media) {
      .singlestage-alert-dialog-header {
        @apply sm:grid-rows-[auto_1fr]
        sm:place-items-start
        sm:text-left;
      }

      .singlestage-alert-dialog-title {
        @apply sm:col-start-2;
      }
    }

    .singlestage-alert-dialog-media {
      @apply sm:row-span-2;
    }
  }
}
