@layer components {
  .singlestage-avatar {
    @apply flex
    overflow-hidden
    relative
    rounded-full
    shrink-0
    size-8;
  }

  .singlestage-avatar-image {
    @apply absolute
    aspect-square 
    indent-[100%]
    overflow-hidden
    size-full
    whitespace-nowrap
    z-2;
  }

  .singlestage-avatar-fallback {
    @apply absolute
    bg-muted 
    flex
    items-center
    justify-center
    rounded-full
    size-full
    z-1;
  }

  .singlestage-avatar-group {
    @apply -space-x-2
    flex;

    .singlestage-avatar {
      @apply ring-2
      ring-background;
    }
  }
}
